main {
    background-color: rgba(128, 0, 128, 0.084);
    padding: 60px; 

}

#input-form {
    border-bottom: solid  rgb(255, 255, 255) 2px; 
    padding: 20px; 
    margin-bottom: 10px; 
}

.submit {
    background-color: rgba(128, 0, 128, 0.235);
    border-radius: 6px;  
    
}

.submit:hover {
    background-color: rgba(128, 0, 128, 0.377);
}

.delete {
    background-color: rgba(196, 6, 6, 0.572); 
    border-radius: 6px;
}

.delete:hover {
    background-color: rgba(196, 6, 6, 0.686); 

}

.patch {
    background-color: rgba(128, 0, 128, 0.235);
    border-radius: 6px;  
}

.patch:hover {
    background-color: rgba(128, 0, 128, 0.377);

}

html li {
    list-style-type: none; 
}






